*{
    box-sizing: border-box;
    padding: 0;
}

:root{
    --cor-de-fundo: rgb(231, 134, 7);
    --cor-secundaria: rgb(255, 255, 255);
    --cor-azul: rgb(0, 0, 255);
    --cor-preto: rgb(0, 0, 0);
}
